syntax: glob
*.o
*.ali
*~
b~*.ad[bs]
build
GNAT*.TMP
tests/test_database.marlowe
tests/test_driver
tests/test_diamond_1-driver
tests/test_reference_1-driver
tests/*.marlowe
tests/*.ad[bs]
tests/generated/*
tests/temp/*
src/server/generated
src/server/leander
*.orig
config/test
src/kit-paths.ads
gnatinspect.db
kit_ui-loc.xml
tests/scratch
tests/src
tests/src-master
*.stdout
*.stderr
*.cswi
*.exe
*.db-shm
*.db-wal
*.cgpr
*.bexch
kit.gpr
